BODY {
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
	background: url(../img/center_background.png) repeat-y center;
	background-color: #81A594;
	margin: 0px;
	padding: 0px;
	color: #000000;
	line-height: 1.5;
}

A {
	color: #000000;
}

TD {
	vertical-align: top;
}

.PageContainer {
	width: 620px;
	margin: auto;
	padding-bottom: 10px;
}

.MastheadBannerContainer {
	width: 650px;
	height: 257px;
	margin: auto;
}

#Banner_NamePrefix {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size: large;
	font-weight: bold;
	text-align: center;
	padding: 2px;
}

#Banner_ChoirCamp {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size: larger;
	font-weight: bold;
	text-align: center;
	padding: 2px;
}

#Banner_Dates {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size: large;
	text-align: center;
	padding: 2px;
}

#Masthead_GroupImage {
	width: 650px;
	height: 257px; /* 257px; */
	margin: auto;
	display:block;
	border-style: solid;
	border-width: 1px;
	border-color: gray black black gray;
}

.BarContainer {
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	margin-bottom: 8px;
}

.Bar {
	background-color: #00628B;
	padding: 3px;
	font-family: Verdana, Verdana, Geneva, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	padding-right: 30px;
	border-right: 3px solid #81A594;
}

#FormsTitle {
	font-weight: bold;
	text-decoration: underline;
}

#FormsInstructions {
	font-size: smaller;
	font-style: italic;
}

#FormsHeader {
	font-size: small;
	font-variant: small-caps;
}

#FormsTable {
	border: solid 1px black;
}

#AcrobatReaderAdvisory {
	font-size: smaller;
}

.FestivalDay {
	font-family: Arial, Arial, Helvetica, sans-serif;
	font-size: small;
}

.FestivalDayEvent {
	padding-left: 5px;
}

.FestivalDayTime {
	text-align: right;
}

.FestivalDayDate {
	font-weight: bold;
}

.ContactInformationSectionHeader {
	text-align: right;
	padding-right: 25px;
}

#WhereImage {
	float: right;
	margin-left: 0.16in;
}

#WhereImage img {
	width: 192px;
	height: 144px;
	border: 1px solid #000000;
}

#WhereImage td {
	text-align: right;
	font-size: smaller;
}

#WhenImage {
	float: left;
	width: 226px;
	height: 168px;
	margin-right: 0.16in;
	border: 1px solid #000000;
}

#DrivingDirectionsLink {
	float: right;
	padding-right: 18px;
}

#Masthead_Links {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	text-align: center;
	font-variant: small-caps;
	font-weight: bold;
}

.SmallerMastheadLink {
	font-size: 14pt;
	letter-spacing: .04rem;
	text-decoration: none;
}

#SocialMedia_Links {
	font-family: Roboto,sans-serif;
	text-align: center;
	padding-top: 10px;
	background-color: #00628B;
}

.SocialMediaLink {
	font-size: 12pt;
	color: white;
	letter-spacing: .04rem;
	text-decoration: none;
	display: inline-block;
}

.SocialMediaLink:not(:first-child) {
	margin-left: 40px;
}


.SocialMediaLink img {
	height: 16px;
	width: 16px;
	margin-bottom: -2px;
	filter: invert();
}

.SmallerMastheadLink:hover {
	text-decoration: underline;
}

#DonateButton {
	position: relative;
	top: -270px;
	left: -46px;
}

P {
	margin-top: 0px;
	margin-bottom: 10px;
}

@media print {
	#DonateButton {
		display: none;
	}
}

.partyCard {
	background-color: #ffffcc;
	border:2px solid #000000;
	padding: 5px;
	white-space: nowrap;
}

.partyCard div {
	margin-bottom: 3px;
}

#registrationSteps li {
	margin-top: 10px;
}

#videoButtons table {
	margin: auto;
}

#videoButtons button {
	border-radius: 50px;
	outline: none;
	margin: 6px;
	font-size: 24pt;
}